#root {
  text-align: center;
}

.card {
  width: 18rem;
  background-color: inherit;
  border: none;
}

#global-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--mj-light-blue);
}

.content-section {
  padding-top: 10em;
  margin-top: -10em;
  margin-bottom: 10em;
}
