#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 18rem;
  background-color: lightblue;
  border: none;
}

.title {
  color: inherit;
}

.title:hover {
  color: darkblue;
}
