#root {
  text-align: center;
}

.card {
  width: 18rem;
  background-color: lightblue;
  border: none;
}

.title {
  color: inherit;
}

.title:hover {
  color: darkblue;
}

#global-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: gray;
  opacity: 0.9;
}
